<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>サイトタイトル</title>
    <meta name="description" content="ディスプリプション">
    <meta name="keywords" content="キーワード,キーワード,キーワード">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/images/common/favicon.ico">
    <link rel="apple-touch-icon" href="/assets/images/common/ogp.png">
    <meta property="og:url" content="http://example.com/dev">
    <meta property="og:title" content="サイトタイトル">
    <meta property="og:description" content="ディスプリプション">
    <meta property="og:image" content="http://example.com/devogp.png">
    <meta property="og:site_name" content="サイトタイトル">
    <meta property="og:type" content="article">
    <meta property="og:locale" content="ja_JP">
    <meta property="fb:app_id" content="">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="サイトタイトル">
    <meta name="twitter:description" content="ディスプリプション">
    <meta name="twitter:image" content="http://example.com/devogp.png">
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="/lange/assets/styles/app.css">
    <!-- Global Site Tag (gtag.js) - Google Analytics--><script async src="https://www.googletagmanager.com/gtag/js?id=UA-111111111111-1"></script>
<script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments)};gtag('js', new Date());gtag('config', 'UA-111111111111-1');</script>
  </head>
  <body class="page-top">
    <div class="l-wrapper">
      <div class="l-header">
        <div class="p-header"></div>
      </div>
      <div class="l-main">
        <script id="lodashTemplateTitle" type="text/html"><h2 class="title"><%= title %></h2></script>
        <script id="lodashTemplateTab" type="text/html"><li class="tab" data-name="<%= sheet_no %>"><%= title %></li></script>
        <script id="lodashTemplate" type="text/html">
          <div class="section">
            <div class="number_block"><%= no %></div>
            <div class="word_block">
              <dl class="word_zh">
                <dt class="word_wrap"><span class="word" data="zh"><%= gsx$見出し語wordzh %></span><span class="count">0</span></dt>
                <dd class="ruby" data="zh"><%= gsx$ピンインrubyzh %></dd>
              </dl>
              <dl class="word_jp">
                <dt class="word" data="jp"><%= gsx$日本語wordjp %></dt>
              </dl>
            </div>
            <div class="sentence_block">
              <dl class="sentence_zh">
                <dt class="word_wrap"><span class="word" data="zh"><%= gsx$例文sentencezh %></span><span class="count">0</span></dt>
                <dd class="ruby" data="zh"><%= gsx$例文ピンインsentenceruby %></dd>
              </dl>
              <dl class="sentence_jp">
                <dt class="word" data="jp"><%= gsx$例文日本語sentencejp %></dt>
              </dl>
            </div>
          </div>
          
        </script>
        <div class="ctrl">
          <div class="ctrl_inline">
            <p>速度<a class="js-speed" href="#">普通</a></p>
            <p>表示</p><a class="js-zh_word_hide" href="#">中国語</a><a class="js-zh_ruby_hide" href="#">ピンイン</a><a class="js-jp_word_hide" href="#">日本語</a><a class="js-randam_sort" href="#">ランダム</a>
          </div>
        </div>
        <ul id="tablist"></ul>
        <div id="wordlist"></div>
      </div>
      <div class="l-footer"></div>
      <script src="/lange/assets/scripts/libs.js"></script>
      <script src="/lange/assets/scripts/app.js"></script>
    </div>
  </body>
</html>